<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>websocket</title>
    <!--<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/jquery/3.4.0/core.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <!--<script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>-->
</head>

<body>
<style>
    .list-group-item {
        width: 300px;
    }
</style>
<div style="margin: auto;text-align: center">
    <h1>Welcome to websocket</h1>
</div>
<br/>
<div class="panel panel-default" style="width: 400px; float: left">
    <div class="panel-heading" style="width: 400px">
        在线列表
    </div>
    <div class="panel-body">
        <ul class="list-group" id="onlineList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>

<div style="margin: auto;text-align: center">
    <select id="onLineUser">
        <option>--所有--</option>
    </select>
    <input id="text" type="text"/>
    <button onclick="send()">发送消息</button>
</div>
<br>
<div style="margin-right: 10px;text-align: right">
    <button onclick="closeWebSocket()">关闭连接</button>
</div>
<br/>
<div id="message" style="text-align: center;"></div>
<div style="text-align: center;" id="online"></div>
<input type="text" th:value="${username}" id="username" style="display: none"/>


</body>


<script type="text/javascript">
    var messageSocket;
    if ("WebSocket" in window) {
        messageSocket = new WebSocket("ws://localhost:8079/websocket/message/" + document.getElementById('username').value);

        //连通之后的回调事件
        //onOpen
        messageSocket.onopen = function () {
            //messageSocket.send( document.getElementById('username').value+"已经上线了");
            console.log("已经连通了websocket");
            setMessageInnerHTML("已经连通了websocket");
        };

        //接收后台服务端的消息
        //后台sendMessage的回调
        //onMessage
        messageSocket.onmessage = function (evt) {

            var received_msg = evt.data;
            console.log(received_msg);
            var obj = JSON.parse(received_msg);
            if (obj.login != null && obj.login !== "") {
                console.log("登录消息" + obj.login);
            }
            setMessageInnerHTML("登录消息" + obj.login);
            $("#onlineList").empty();
            var nameList = obj.nameList;
            var onlineList = "";
            for (var i = 0; i < nameList.length; i++) {
                onlineList += '<li class="list-group-item">' + nameList[i] + '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>'+'</li>';
            }
            $("#onlineList").append(onlineList);
        };

        //连接关闭的回调事件
        //onClose
        messageSocket.onclose = function () {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
        };
    } else {
        // 浏览器不支持 WebSocket
        alert("您的浏览器不支持 WebSocket!");
    }

    //将消息显示在网页上
    function setMessageInnerHTML(innerHTML) {
        document.getElementById('message').innerHTML += innerHTML + '<br/>';
    }

    function setOnlineInnerHtml(innerHTML) {
        document.getElementById('online').innerHTML += innerHTML + '<br/>';
    }

    function closeWebSocket() {
        //直接关闭websocket的连接
        messageSocket.close();
    }

    function send() {
        var selectText = $("#onLineUser").find("option:selected").text();
        if (selectText == "--所有--") {
            selectText = "All";
        } else {
            setMessageInnerHTML(document.getElementById('username').value + "对" + selectText + "说：" + $("#text").val());
        }
        var message = {
            "message": document.getElementById('text').value,
            "username": document.getElementById('username').value,
            "to": selectText
        };
        messageSocket.send(JSON.stringify(message));
        $("#text").val("");

    }
</script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</html>